@{
    ViewData["Title"] = "Time Tracker";
}

<section class="row">
    <div class="container">
        <div class="w-50 mx-auto">
            <a class="display-1" href="/ToDo">TimeTracker</a>
            <img src="~/images/tasks.svg" class="img-fluid" alt="Tasks" />
        </div>
    </div>
</section>
